<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head>
    <meta charset="UTF-8" />
    <title>Note</title>
	<link rel="stylesheet"href="{% static 'css/bootstrap.min.css' %}" />
	<style>
		.navbar-white{
			background-color: white;
		}
		.container {
			max-width: 1000px;
			padding-top: 30px;
			padding-right: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
			border-radius: 30px;
			background-color: #FFE5B4;
		}
		.table{
			background-color: white;
		}
		.thead{
			background-color: #954535;
		}
		
	</style>
</head>
  <body style="background-color:#FFF8DC">
	<nav class="navbar navbar-expand-sm navbar-white shadow-sm">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					<li class="nav-item">
						<strong><a class="nav-link active" style="color:#954535" href="/lab-4">Index</a></strong>
					</li>
					<li class="nav-item">
						<a class="nav-link active" style="color:#954535" href="/lab-4/add-note">Add Note</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" style="color:#954535" href="/lab-4/note-list">Note List</a>
					</li>
			</ul>
  		</div>
	</nav>
	<div class="container mt-5 shadow">
		<h2 class="text-center" style="font-size: 80px; font-family: monospace; color: #954535">NOTES</h2><br>
    <table class="table">
		<thead class="thead text-center">
      	<tr>
			<th style="color: white">Title</th>
			<th style="color: white">From</th>
			<th style="color: white">To</th>
			<th style="color: white">Message</th>
		</tr>
		</thead>
       <tbody>
		  {% for note in notes %}
		  <tr>
			<td>{{ note.title }}</td>
			<td>{{ note.from_who }}</td>
			<td>{{ note.to_who }}</td>
			<td>{{ note.message }}</td>
		  </tr>
		  {% endfor %}
		</tbody>
    </table>
	</div>
  </body>
</html>