<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head>
    <meta charset="UTF-8" />
    <title>Add Note</title>
	<link rel="stylesheet"href="{% static 'css/bootstrap.min.css' %}" />
	<style>
		.container {
			max-width: 500px;
			padding-top: 50px;
			padding-right: 30px;
			padding-bottom: 50px;
			padding-left: 30px;
			border-radius: 30px;
			background-color: white;
		}
		.navbar-white{
			background-color: white;
		}
		.form-control{
			color: #954535;
		}
	</style>
</head>
	
<body style="background-color:#FFF8DC">
	<nav class="navbar navbar-expand-sm navbar-white shadow-sm">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					<li class="nav-item">
						<a class="nav-link active" style="color:#954535" href="/lab-4">Index</a>
					</li>
					<li class="nav-item">
						<strong><a class="nav-link active" style="color:#954535" href="/lab-4/add-note">Add Note</a></strong>
					</li>
					<li class="nav-item">
						<a class="nav-link active" style="color:#954535" href="/lab-4/note-list">Note List</a>
					</li>
			</ul>
  		</div>
	</nav>
	<div class="container mt-5 shadow">
		<div>
		<h2 class="text-center" style="margin-bottom: 25px; color: #954535">Add Note</h2>
		<form action="" method="post">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group mt-1">
				
				{{ field }}
			</div>
		{% endfor %}
		<div class="form-group mt-3">
		<button type="submit" class="w-100 btn" style="background-color: #954535; color: white">Submit</button>
		</div>
		</form>
		</div>
	</div>
</body>
</html>