<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head>
    <meta charset="UTF-8" />
    <title>Note List</title>
	<link rel="stylesheet"href="{% static 'css/bootstrap.min.css' %}" />
	<style>
		.navbar-white{
			background-color: white;
		}
		.container {
			padding-top: 50px;
			padding-right: 30px;
			padding-bottom: 50px;
			padding-left: 30px;
		}
		.card-header{
			background-color: #954535;
			color: white;
		}
		.card-body{
			overflow-y: scroll;
			background-color: white;
			scrollbar-color: #FFFFCC #DEB887;
		}
	</style>
</head>
  <body style="background-color:#FFF8DC">
	<nav class="navbar navbar-expand-sm navbar-white shadow-sm">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					<li class="nav-item">
						<a class="nav-link active" style="color:#954535" href="/lab-4">Index</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" style="color:#954535" href="/lab-4/add-note">Add Note</a>
					</li>
					<li class="nav-item">
						<strong><a class="nav-link active" style="color:#954535" href="/lab-4/note-list">Note List</a></strong>
					</li>
			</ul>
  		</div>
	</nav>
	<div class="container">
	<div class="row">
	{% for note in notes %}
		<div class="col mb-4">
			<div class="card mt-3" style="width: 18rem; height:15rem;">
				<div class="card-header"><strong>{{ note.title }}</strong></div>
				<div class="card-body">
					<h6 style="color: #954535">To: {{ note.to_who }}</h6>
					<h6 style="color: #954535">From: {{ note.from_who }}</h6>
					<p class="card-text" style="color: #483C32">{{ note.message }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	</div>
  </body>
</html>