<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head>
    <meta charset="UTF-8" />
    <title>Note</title>
	<link rel="stylesheet"href="{% static 'css/bootstrap.min.css' %}" />
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$.ajax({url: "/lab-2/json", success: function(data){
				for(var key in data) {
					var t_body = document.getElementById("table_body");
					var tr = document.createElement("tr");
					var td_title = document.createElement("td");
					var td_from = document.createElement("td");
					var td_to = document.createElement("td");
					var td_message = document.createElement("td");
					var view_btn = document.createElement("button");
					var edit_btn = document.createElement("button");
					var del_btn = document.createElement("button");
					
					view_btn.setAttribute("onclick", "view("+data[key]["pk"]+")");
					view_btn.setAttribute("data-toggle","modal");
					view_btn.setAttribute("data-target","#exampleModalCenter");
					//$('#exampleModalCenter').modal('show');
					/*
					edit_btn.onclick = function(){
						$.ajax({url: "/lab-2/notes/"+key, success: function(data){
							console.log(2);
						}});
					};
					del_btn.onclick = function(){
						$.ajax({url: "/lab-2/notes/"+key, success: function(data){
							console.log(2);
						}});
					};*/
					
					td_title.innerHTML = data[key]["fields"]["title"];
					td_from.innerHTML = data[key]["fields"]["from_who"];
					td_to.innerHTML = data[key]["fields"]["to_who"];
					td_message.innerHTML = data[key]["fields"]["message"];
					view_btn.innerHTML = "View";
					edit_btn.innerHTML = "Edit";
					del_btn.innerHTML = "Delete";
					
					tr.appendChild(td_title);
					tr.appendChild(td_from);
					tr.appendChild(td_to);
					tr.appendChild(td_message);
					tr.appendChild(view_btn);
					tr.appendChild(edit_btn);
					tr.appendChild(del_btn);
					t_body.appendChild(tr);
				}

			}});
		});
	</script>
	<script>
		function view(id){
			$.ajax({url: "/lab-5/notes/"+id, success: function(data){
				console.log(data[0]["pk"]);
				$('#modal_title').html(data[0]["fields"]["title"]);
				$('#modal_from').html("From: "+data[0]["fields"]["from_who"]);
				$('#modal_to').html("To: "+data[0]["fields"]["to_who"]);
				$('#modal_body').html(data[0]["fields"]["message"]);
			}});
			//$('#exampleModalCenter').modal('show');
		}
	</script>
	<style>
		.navbar-white{
			background-color: white;
		}
		.container {
			max-width: 1000px;
			padding-top: 30px;
			padding-right: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
			border-radius: 30px;
			background-color: #FFE5B4;
		}
		.table{
			background-color: white;
		}
		.thead{
			background-color: #954535;
		}
		
	</style>
</head>
  <body style="background-color:#FFF8DC">
	<nav class="navbar navbar-expand-sm navbar-white shadow-sm">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					
			</ul>
  		</div>
	</nav>
	<!-- modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  		<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
      			<div class="modal-header d-block">
					<div class="d-flex">
        			<h5 class="modal-title" id="modal_title"></h5>
					</div>
      				<h15 class="modal-title" id="modal_from"></h15><br>
      				<h15 class="modal-title" id="modal_to"></h15>
      			</div>
				<div class="modal-body" id="modal_body">
					
				</div>
				<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      			</div>
    		</div>
  		</div>
	</div>
	  
	<div class="container mt-5 shadow">
		<h2 class="text-center" style="font-size: 80px; font-family: monospace; color: #954535">NOTES</h2><br>
    <table class="table">
		<thead class="thead text-center">
      	<tr>
			<th style="color: white">Title</th>
			<th style="color: white">From</th>
			<th style="color: white">To</th>
			<th style="color: white">Message</th>
			<th style="color: white">Actions</th>
		</tr>
		</thead>
       <tbody id="table_body">
		</tbody>
    </table>
	</div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>