<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
  </head>
<body>
	<form action="" method="post">
	{% csrf_token %}
	<table>
		{{form}}
	</table><br>
	<input type="submit" value="Submit">
	</form>
</body>
</html>