<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Title</th>
        <th>From</th>
        <th>To</th>
        <th>Message</th>
      </tr>
      
      {% for note in notes %}
	  <tr>
		<td>{{ note.title }}</td>
        <td>{{ note.from_who }}</td>
        <td>{{ note.to_who }}</td>
        <td>{{ note.message }}</td>
	  </tr>
	  {% endfor %}
    </table>
  </body>
</html>